@model HaberSitesi.Models.Uye

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş Yap - BahoNews</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head> ,
    <body class="bg-light">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="card shadow p-4" style="width : 400px">
            <div class="text-center mb-4">
                <h2 class="font-weight-bold text-dark">BAHONEWS</h2>
            
            </div>
            @if (ViewBag.Hata != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Hata
                </div>
            }
            <form action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>E-posta Adresi</label>
                    <input type="email" name="Eposta" class="form-control" required placeholder="admin@bahonews.com"/>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                   <input type="password" name="Sifre" class="form-control" required placeholder="****" />
                </div>
                <button type="submit" class="btn btn-dark btn-block font-weight-bold py-2">Giriş Yap</button>
            </form>
            <div class="text-center mt-3">
                <span class="text-muted">Hesabın yok mu?</span>
                <a href="/Guvenlik/Register" class="font-weight-bold">Kayıt Ol</a>
            </div>
            <div class="text-center mt-3">
                <a href="/" class="text-muted small">Ana sayfaya dön </a>
            </div>
        </div>
    </div>

    </body>
</html>