@{
    ViewData["Title"] = "İletişim";
}

<div class="container-fluid mt-5 mb-5">
    <div class="container">
        <div class="section-title mb-4">
            <h4 class="m-0 text-uppercase font-weight-bold">Bize Ulaşın</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-white border p-4">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Adınız Soyadınız"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Adresiniz"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control " rows="4" placeholder="Mesajınız"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary font-weight-semi-bold px-4" type="button" onclick="alert('Mesajınız gönderildi!')">GÖNDER</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="bg-white border p-4">
                    <h5 class="font-weight-bold">Adres Bilgileri</h5>
                    <p>Haber sitemizle ilgili görüşlerinizi bekliyoruz</p>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>İzmir , Narlıdere</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+90 542 799 47 35 </p>
                    <p><i class="fa fa-envelope mr-2"></i>iletisim@Bahohaberler.com</p>
                </div>
            </div>
        </div>
    </div>
</div>